*{
    margin: 0;
    padding: 0%;
}
#main{
    padding-top: 70px;
}
#menu{
    height: 60px;
    width: 100%;
    background-color: teal;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}
.card{
    height: 1000;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 4px dashed purple;
    padding: 20px;
}